body{
    margin: auto;
    padding: 0;
    max-width: 1000px;
    text-align: center;
    background-color: lightblue;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    list-style: none;
}
.center{
    display: flex;
    place-items: center;
}

.relative{
    position: relative
}

/* btn */

.myButton{
    box-shadow: inset 0px 39px 0px -24px;
    background-color: violet;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;

    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
}
.myButton:hover{
    opacity: .6;;
}
.myButton:active{
    position: relative;
    top: 1px;
}

.myButton2 {
    box-shadow: inset 0px 39px 0px -24px  blue;
    background-color:  blue;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    }
    .myButton2:hover {
    opacity: 0.6;
    }
    .myButton2:active {
    position: relative;
    top: 1px;
    }
    

    /* logo */

    .logo_container{
        position: relative;
    }
    .logo{
        position: absolute;
        left: 50%;
        top: -8rem;
        transform: translateX(-50%);
    }
    .logo_empty{
        margin-top: 10rem;
    }
    .logo h1{
        display: flex;
    }

    .logo h1 span{
        font-size: 2rem;

        font-weight: 900;
        color: violet;
        text-transform: uppercase;
        margin: .5rem;
        border-radius: 50%;
        background-color: lightpink;
        
    }

    .logo h1 span:nth-child(1){
        animation: drop-letters 12s 1s infinite;
    }
    .logo h1 span:nth-child(2){
        animation: drop-letters 12s 2s infinite;
    }
    .logo h1 span:nth-child(3){
        animation: drop-letters 12s 3s infinite;
    }
    .logo h1 span:nth-child(4){
        animation: drop-letters 12s 5s infinite;
    }
    .logo h1 span:nth-child(5){
        animation: drop-letters 12s 6s infinite;
    }

    @keyframes drop-letters{
        50%{
            transform: translateY(-50%);
        }
    }

    .whole-container{
        background-color: lightgreen;
        border: 1px solid blue;
    }

    .title_input{
        height: 3rem;
    }

    .note_alert{
        color: red;
    }

    /* 🍀modal */

    .modal_detail_container{
        position: absolute;
        background-color: yellow;

    left: 0;
    bottom: 0;
    display: block;
    margin: auto;

    /*  */
    height: auto;
    width: 30rem;
    

    border: 1px solid red;

    /* js */
    z-index: -1;
    opacity: 0;
    }

    /* js 6  */

    .modal_show{
        z-index: 2 !important;
        opacity: 1 !important;
        left: 16rem;
        bottom: 2rem;
    }

    .modal_delete{
        margin-bottom: 1rem;
        margin-left: 23rem;
    }

@media  (max-widht:770px){
    .modal_detail_container{
        left: 0;
        bottom: 0;
    }
    
}